{% extends "menu/base.html" %}

{% block content %}
    <header>
        <h2>Menus</h2>
        <a class="btn btn-primary" href="{% url 'menu-create' %}">Add Menu</a> 
        <a class="btn btn-primary" href="{% url 'meal-option-create' %}">Add Meal Option</a> 
    </header>
    <main class="mt-2">
        {% for menu in object_list %}
            <div class="card w-90 p-3 mb-2 shadow-sm">
                <span class="d-flex flex-row align-items-baseline">
                    <h4 class="d-inline me-3">{{ menu.date }}</h4>
                    <span class="fw-light">{{ menu.meal_set.all | length }} meals requested</span>
                </span>
                <ul>
                    {% for option in menu.meal_options.all %}
                        <li>{{ forloop.counter }}. {{ option }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% empty %}
            <div class="card w-90 p-3">
                <h4>No menus have been added.</h4>
            </div>
        {% endfor %}
    </main>
{% endblock %}