{% extends "menu/base.html" %}

{% block content %}
    <header>
        <h2>Menus</h2>
        <a class="btn btn-primary" href="{% url 'menu-create' %}">Add Menu</a> 
        <a class="btn btn-primary" href="{% url 'meal-option-create' %}">Add Meal Option</a> 
    </header>
    <main class="mt-2">
        {% for menu in object_list %}
            <div class="card w-90 p-3 mb-2 shadow-sm">
                <span class="d-flex flex-row align-items-baseline">
                    <h4 class="d-inline me-3">{{ menu.date }}</h4>
                    <span class="fw-light">{{ menu.meal_set.all | length }} meals requested</span>
                </span>
                <a href="{% url 'menu-detail' menu.id %}">View requested meals</a>
                <ul>
                    {% for option in menu.meal_options.all %}
                        <li>{{ forloop.counter }}. {{ option }}</li>
                    {% endfor %}
                </ul>
                <button class="btn btn-primary" onClick="sendNotification('{{menu.id}}')">Send Notification</button>
                {% if menu.notification_sent_at %}
                    <span class="fw-light">Last sent {{ menu.notification_sent_at | timesince }} ago</span>
                {% else %}
                    <span class="fw-light">No notification sent</span>
                {% endif %}
            </div>
        {% empty %}
            <div class="card w-90 p-3">
                <h4>No menus have been added.</h4>
            </div>
        {% endfor %}
    </main>
{% endblock %}
{% block scripts %}
<script>
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
function sendNotification(menuId) {
    $.post("/menu/" + menuId + "/notify/", undefined, function (result) {
        if (result.message) {
            alert(result.message);
        }
    });
}
</script>
{% endblock scripts %}